.block {
    position: relative;
    user-select: none;
    height: 30vh;
    border-bottom: 1px solid rgba(128, 128, 128, 0.38);
    box-shadow: 0 12px 47px -7px rgba(34, 60, 80, 0.2);
}
.searchResultBlock {
    background-color: #c7e0e5;
    padding: 50px 0;
}
.sortBtn {
    cursor: pointer;
    transition: color .1s ease;
}
.sortBtn:hover {
    color: #0dd149;
}
.sortBtnChoose {
    opacity: .5;
    cursor: auto;
}
.searchResultInner {
    position: relative;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    width: 1200px;
    margin: auto;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.38);
}
.searchResultHeader {
    user-select: none;
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.38);
    padding: 0 25px;
}
.searchResultHeader p {
    padding: 0 6px;
}
.button {
    border: none;
    border-radius: 5px;
    color: white;
    width: 30%;
    height: 30px;
    margin: 15px auto;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    background-color:#0dd149;
    transition: background-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
}
.button:hover {
    box-shadow: 0 10px 6px -4px rgba(13, 209, 73, 0.66);
}
.button:active {
    position:relative;
    top:1px;
}
.sortText {
    display: block;
}
.select {
    display: none;
    margin: 15px;
    appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 3px 5px;
    width: 30%;
    font-family: inherit;
    cursor: inherit;
    line-height: inherit;
}
.select option {
    font-size: 160%;
}
.items {

}
@media screen and (max-width: 1280px) {
    .searchResultInner {
        width: 95%;
    }
}
@media screen and (max-width: 1024px) {
    .searchResultInner {
        width: 100%;
    }
    .items {
        background-color: #e5e5e5;
    }
    .searchResultHeader {
        background-color: white;
    }
    .sortBtnChoose, .sortBtn,.sortText {
        display: none;
    }
    .select {
        display: block;
    }
}